<mat-toolbar
  color="primary">
ERNST
</mat-toolbar>

<div
  class="grid-container">

<mat-card>
<mat-card-title>
Input
</mat-card-title>
<mat-card-subtitle>
Select the model and start the simulation
</mat-card-subtitle>
<form>
<mat-form-field>
<mat-select
  name="model"
  placeholder="Model"
  [(value)]="model">
<mat-option
  value="1">
Alpha
</mat-option>
<mat-option
  value="2">
Bravo
</mat-option>
<mat-option
  value="3">
Charlie
</mat-option>
</mat-select>
</mat-form-field>
<mat-checkbox>
Avalanche
</mat-checkbox>
</form>
<mat-card-actions>
<button
  mat-button
  title="Play">
<mat-icon>
play_arrow
</mat-icon>
</button>
<button
  mat-button
  title="Stop">
<mat-icon>
stop
</mat-icon>
</button>
<button
  mat-button
  title="Description">
<mat-icon>
description
</mat-icon>
</button>
</mat-card-actions>
</mat-card>

<mat-card>
<mat-card-title>
<dl>
<dt>
ERNST
</dt>
<dd>
Event Related Neuronal Simulation Tool
</dd>
<dt>
LFP
</dt>
<dd>
local field potential
</dd>
<dt>
LIF
</dt>
<dd>
leaky integrate-and-fire
</dd>
<dt>
LTD
</dt>
<dd>
long-term depression
</dd>
<dt>
LTP
</dt>
<dd>
long-term potentiation
</dd>
<dt>
SIF
</dt>
<dd>
simple integrate-and-fire
</dd>
<dt>
STDP
</dt>
<dd>
spike-timing dependent plasticity
</dd>
</dl>
</mat-card-title>
</mat-card>

</div>

<p
  style="text-align:center">
Event Related Neuronal Simulation Tool (ERNST)
v2.0.0
&copy; 2019 Johns Hopkins University
</p>