.grid-container
{
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: auto;
}

.mat-form-field
{
  display: block;
}

@media ( min-width: 768px )
{
  .grid-container
  {
    grid-template-columns: auto auto;
  }
}
